body {
    background-color: black;
    color: white;
    text-align: center;
}

#newGrid {
    margin-bottom: 16px;
}

#pixelGrid {
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    flex-wrap: wrap;
    max-width: 500px;
    margin: auto;

}

.pixel {
    border-width: 1px;
    border-style: solid;
    border-color: white;
    box-sizing: border-box;
}

.filled {
    background-color: white;
}

.inside {
    background-color: red;
}